<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Producto</title>
</head>
<body>
       <%-include('../partials/header')%>
        <main>
            <h1>Eliminar Producto</h1>
            <p>¿Estas seguro que queres eliminar un producto <%= producto.marca %> <%= producto.modelo %>?</p>
            <form action="/delete/<%=producto.id%>?_method=DELETE" method="POST">
                <button type="submit">Eliminar</button>
            </form>
        </main>


        <%-include('../partials/footer')%>
</body>
</html>